@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font1: 'Alata', sans-serif;
    --font2: 'Josefin Sans', sans-serif;
}

@layer base {

    body,
    html {
        min-height: 100vh;
        width: 100%;
        background: var(--White);
        font-family: var(--font2);
        font-size: 62.5%;
        overflow-x: hidden;
    }

}

@layer utilities {
    .my_container {
        @apply max-w-[102.4rem] mx-auto p-20;
    }

    .backdrop {
        @apply md:absolute w-full h-full md:bg-black/50 inset-0 pointer-events-none duration-300 ease-in-out;
    }

    .figcaption {
        @apply  absolute p-8 text-[2.3rem] text-white uppercase opacity-80 bottom-0 w-60
    }

}


@layer components {
    .nav_link {
        @apply text-white p-2 pr-0 font-bold text-2xl relative before:absolute before:bottom-0 before:block before:bg-white before:opacity-0 before:w-1/2 before:h-[.2rem] before:left-1/2 before:-translate-x-1/2 before:duration-300 before:ease-in-out hover:before:opacity-100 hover:before:-bottom-2;
    }

    ._hover {
        @apply  group-hover:bg-black/80 
    }
}

#menu.active {
    left: 0;
}
