@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*Primary*/
  --white: hsl(0, 0%, 100%)
  --Black: hsl(0, 0%, 0%)
  --DarkGray: hsl(0, 0%, 55%)
  --VeryDarkGray: hsl(0, 0%, 41%)

  --font1: 'Alata', sans-serif;
  --font2: 'Josefin Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
}

body, html {
  min-height: 100vh;
  width: 100%;
  background: var(--White);
  font-family: var(--font2);
  font-size: 62.5%;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 102.4rem;
  padding: 8rem;
}

.backdrop {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  pointer-events: none;
}


/*Header style*/

header {
  position: relative;
  width: 100%;
  min-height: 57rem;
  background: url(/image-hero-desktop.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.c-fade {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.c-header-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

.c-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 17.5rem;
}

.c-menu {
  display: flex;
  gap: 1.2rem;
}

.item {
  color: hsl(0, 0%, 100%);
  padding: .5rem 0 .5rem .5rem;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}

.item::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #fff;
  opacity: 0;
  width: 50%;
  height: .2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s ease-in-out;
}

.item:hover::before {
  opacity: 1;
  bottom: -.5rem;
}


.c-title {
  padding: 3rem;
  border: .2rem solid;
  color: hsl(0, 0%, 100%);
  margin-top: 12rem;
  width: 58%;
  font-size: 3rem;
  text-transform: uppercase;
}


/* Main styling*/

.c-interative {
  position: relative;
  margin: 15rem auto;
}

.c-interative img {
  max-width: 64rem;
}

.c-interative figcaption {
  padding: 10rem 0 0 7rem;
  width: 40rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  height:27rem;
}

.c-interative figcaption h1 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 3.5rem;
  font-size: 3rem;
}
.c-interative figcaption p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.c-creations {
  width: 100%;
  margin: 0 auto;
}

.c-creations-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.c-creations-top h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}

.c-see-all {
  text-transform: uppercase;
  color: #000;
  letter-spacing: .3rem;
  width: 12rem;
  padding: 1rem;
  font-family: var(--font2);
  font-weight: 900;
}

.c-see-all:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.c-the-creations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.c-created {
  position: relative;
  aspect-ratio: 9/16;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: .4s ease-in-out;
}

.c-created:hover {
  cursor: pointer;
  opacity: .4;
  z-index: 5;
}

.c-created img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-created:hover figcaption{
  color: #000;
  cursor: pointer;
}

.c-created figcaption {
  position: relative;
  padding: 2rem;
  font-size: 2.3rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  opacity: .8;
}

footer {
  background-color: #000;
}

footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-footer img {
  width: auto;
  margin-bottom: 3rem;
}

.c-footer-menu {
  display: flex;
}

.c-footer .item{
  display: block;
  color: #fff;
  margin-right: 1rem;
  font-size: 1.5rem;
  opacity: .8;
  padding-left: 0;
}

.c-socials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #fff;
}
.c-socials p {
  font-size: 1.2rem;
}

.c-socials-networks {
  display: flex;
  justify-content: flex-end;
}


.c-socials img {
  width: 2rem;
  margin-left: 1rem;
}